.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}


.grid-container{
    background-color:gray;
}

.param{
    background-color:rebeccapurple;
    color:aliceblue;
    margin-left:15px;
}