body{
    background-color: rgb(18, 157, 172);
    color: rgb(249, 104, 249);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: normal;
    
    /* same as avobe
    font: normal 17px Arial, Helvetica, sans-serif;
    */
    line-height: 1.5em;
}

.dram{
    width: 80%x;
    margin: auto;
}

.box-1{
    background-color: brown;
    color: darkblue;
}



.dram2{
    width: 80%x;
    margin: auto;
}

.box-2{
    background-color: rgb(20, 3, 118);
    color: rgb(134, 134, 213);
    border-right:1px darkturquoise solid;
    border-left: 1px darkturquoise solid;
    border-top: 5px darkturquoise solid;
    border-bottom: 5px darkturquoise solid;
    border-style: dotted;

}



.dram3{
    width: 80%x;
    margin: auto;
    padding-top: 10px;
}

.box-3{
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(74, 74, 135);
    
    border-right:1px rgb(13, 14, 14) solid;
    border-left: 1px rgb(5, 6, 6) solid;
    border-top: 5px rgb(0, 0, 0) solid;
    border-bottom: 5px rgb(0, 0, 0) solid;
    border-style: dotted;
    border-radius: 1.5rem;

    /*this is the important part pading and margin */
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 20px;
}


.box-3 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: .5em;
    word-spacing: 0em;
}

main{
    min-height: 100vh;
    background: linear-gradient(
        to right top, #65dfc9, #6cdbeb);
}

.glass{
    background: white;
    min-height: 70vh;
    width: 60%;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.12));
    margin:20%;
    padding-top: 0%;
    border-radius: 2em;

}

.semi_box-1{
background:rgba(255, 255, 255, 0.228);
border-radius: .2em;
font-family: monospace;
padding:10px;
margin-right: 200px;


}