body{
    background-color: rgb(92, 0, 85);
    color: rgb(249, 104, 249);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: normal;
    
    /* same as avobe
    font: normal 17px Arial, Helvetica, sans-serif;
    */
    line-height: 1.5em;
}

.dram{
    width: 80%x;
    margin: auto;
}

.box-1{
    background-color: brown;
    color: darkblue;
}



.dram2{
    width: 80%x;
    margin: auto;
}

.box-2{
    background-color: rgb(20, 3, 118);
    color: rgb(134, 134, 213);
    border-right:1px darkturquoise solid;
    border-left: 1px darkturquoise solid;
    border-top: 5px darkturquoise solid;
    border-bottom: 5px darkturquoise solid;
    border-style: dotted;

}



.dram3{
    width: 80%x;
    margin: auto;
    padding-top: 10px;
}

.box-3{
    background-color: rgb(20, 3, 118);
    color: rgb(134, 134, 213);
    border-right:1px darkturquoise solid;
    border-left: 1px darkturquoise solid;
    border-top: 5px darkturquoise solid;
    border-bottom: 5px darkturquoise solid;
    border-style: dotted;

    /*this is the important part pading and margin */
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 20px;
}


.box-3 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: .5em;
    word-spacing: 0em;
}

