.param-1{
    background-color: antiquewhite;
    color: yellow;
    font-size:100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.param-2{
color:rgba(66, 16, 84, 0.132);
}


.param-3{
background-color:aquamarine;
color: blueviolet;
}
